<div class="container">
<<<<<<< HEAD
    {{!-- <h1>Add Items</h1>
    <form action="/seller/additem" method="post" autocomplete="off"> --}}
=======
    <h1 class="center-align">Add Items</h1>
    <form action="/signup/seller" method="post" autocomplete="off">
>>>>>>> f87829d92f417a4ea1134ec22a984631aed2d09d

        <div class="row">
            <div class="input-field col s12">
                <input id="itemName" type="text" class="validate" name="iname">
                <label for="itemName">Item Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="price" type="number" step="0.01" class="validate" name="price">
                <label for="price">Item Price</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="description" type="text" class="validate" name="desc">
                <label for="description">Item Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="shippingCost" type="number" step="0.01" class="validate" name="shipcost">
                <label for="shippingCost">Item Shipping Cost</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="itemQuantity" type="number" class="validate" name="qty">
                <label for="itemQuantity">Item Quantity</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 center-align">
                <input type="submit" class="waves-effect waves-light btn-large"/>
            </div>
        </div>
    </form>
</div>