<div class="container">
    <h2 class="center-align">Add Items</h2>
    <form action="/signup/seller" method="post" autocomplete="off">

        <div class="row">
            <div class="input-field col s12">
                <input id="itemId" type="text" class="validate">
                <label for="itemId">Item ID</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="itemName" type="text" class="validate">
                <label for="itemName">Item Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="price" type="text" class="validate">
                <label for="price">Item Price</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="description" type="text" class="validate">
                <label for="description">Item Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="shippingCost" type="text" class="validate">
                <label for="shippingCost">Item Shipping Cost</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="sellerId" type="text" class="validate">
                <label for="sellerId">Seller ID</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="itemQuantity" type="text" class="validate">
                <label for="itemQuantity">Item Quantity</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 center-align">
                <input type="submit" class="waves-effect waves-light btn-large"/>
            </div>
        </div>
    </form>
</div>