<div class="container">
    <br>
    <div class="row">
        <div class="col s3 offset-m3">
            <a id="cust" class="btn-large">Customer Sign In</a>
        </div>
        <div class="col s3 right-align">
            <a id="seller" class="btn-large">Seller Sign In</a>
        </div>
    </div>
    <!--<h4 id="cust">customer</h4>-->
    <!--<h4 id="seller">seller</h4>-->
    <h2 style="color:blue;">{{user}}</h2>
    <h1>{{err}}</h1>
    <form action="/signin/customer" method="post" id="cform" autocomplete="off">
        <h3 class="center-align">Customer Login</h3>
        <div class="row">
            <div class="input-field col s6 offset-m3">
                <input type="text" name="email" value="{{email}}" autocomplete="off">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-m3">
                <input type="password" name="password" autocomplete="new-password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center-align">
                <button type="submit" class="btn-large" id="submit">Submit</button>
            </div>
        </div>
    </form>
    <form action="/signin/seller" method="post" id="sform" autocomplete="off">
        <h3 class="center-align">Seller Login</h3>

        <div class="row">
            <div class="input-field col s6 offset-m3">
                <input type="text" name="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-m3">
                <input type="password" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center-align">
                <button type="submit" class="btn-large" id="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    $("#cform").hide();
    $("#sform").hide();

    $("#cust").click(() => {
        $("#cform").show();
        $("#cust").addClass("disabled");
        $("#seller").removeClass("disabled");
        $("#sform").hide();
    });
    $("#seller").click(() => {
        $("#sform").show();
        $("#cust").removeClass("disabled");
        $("#seller").addClass("disabled");
        $("#cform").hide();
    });
</script>