<form action="/signup/seller" method="post" autocomplete="off">
    <label for="sname">Name</label>
    <input type="text" name="sname"/>

    <label for="email">Email Id</label>
    <input type="text" name="email" autocomplete="off"/>
    
    <label for="dob">Date of Birth</label>
    <input type="text" name="dob"/>
    
    <label for="cname">Name</label>
    <input type="text" name="cname"/>
    <label for="cname">Name</label>
    <input type="text" name="cname"/>
    <label for="cname">Name</label>
    <input type="text" name="cname"/>
    <label for="cname">Name</label>
    <input type="text" name="cname"/>
    <label for="cname">Name</label>
    <input type="text" name="cname"/>

    <input type="submit"/>

</form>