<form action="/signup/customer" method="post">
    <label for="cname">Name</label>
    <input type="text" name="cname"/>

    <label for="dob">Date of Birth</label>
    <input type="text" name="dob"/>
    
    <label>Phone Numbers</label>
    <input type="text" name="phone1"/>
    <p>optional</p>
    <input type="text" name="phone2"/>

    <label>Address</label>
    <label for="houseno">House no.</label>
    <input type="text" name="houseno"/>
    <label for="streeno">Street no.</label>
    <input type="text" name="streetno"/>
    <label for="city">City</label>
    <input type="text" name="city"/>
    <label for="state">State</label>
    <input type="text" name="state"/>
    <label for="pincode">Pincode</label>
    <input type="text" name="pincode"/>
    <input type="submit"></input>
</form>