<div class="container">
    <h2 class="center-align">New Customer SignUP</h2>

    <form action="/signup/customer" method="post" autocomplete="off">

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="cname" required/>
                <label for="cname">Name</label>
            </div>
            <div class="input-field col s6">
                <input type="date" name="dob" required/>
                <label for="dob">Date of Birth</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="email" name="email" id="email" required/>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
                <input type="password" name="password" id="password" required/>
                <label for="password">password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="phone[0]" id="phone0" required/>
                <label>Phone Numbers</label>
                <!--<p id="addphone">add another number</p>-->
            </div>
            <div class="input-field col s6">
                <input type="text" name="phone[1]" id="phone1"/>
                <label>Alternate Phone Number</label>
            </div>
        </div>

        <h5 class="center-align">Address</h5>
        <div class="row">
            <div class="input-field col s3">
                <input type="text" name='address[0][houseno]' required/>
                <label for="houseno">House no.</label>
            </div>
            <div class="input-field col s9">
                <input type="text" name='address[0][streetno]' required/>
                <label for="streeno">Street Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input type="text" name='address[0][city]' required/>
                <label for="city">City</label>
            </div>
            <!--<div class="input-field col s4">-->
            <!--<input type="text" name='address[0][state]'/>-->
            <!--<label for="state">State</label>-->
            <!--</div>-->
            <div class="input-field col s4">
                <select id="states" name="address[0][states]" class="browser-default">
                    <option disabled selected>Choose State</option>
                </select>
            </div>
            <div class="input-field col s4">
                <input type="text" name='address[0][pincode]' required>
                <label for="pincode">Pincode</label>
            </div>
        </div>
        <!--<p id="addr">add address</p>-->
        <div class="row">
            <div class="input-field col s12 center-align">
                <button type="submit" class="btn-large" id="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

<script>
    let i = 0, j = 0;
    $("#addphone").click(() => {
        j++;
        $('#addphone').before('<input type="text" name="phone[' + j + ']"/>');
    });
    $("#addr").click(() => {
        i++;
        $('#addr').before('<br><label for="houseno">House no.</label><input type="text" name="address[' + i + '][houseno]"/><label for="streetno">Street no.</label><input type="text" name="address[' + i + '][streetno]"/><label for="city">City</label><input type="text" name="address[' + i + '][city]"/><label for="state">State</label><input type="text" name="address[' + i + '][state]"/><label for="pincode">Pincode</label><input type="text" name="address[' + i + '][pincode]"/>');
    });
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    $("#email").change(() => {
        var email = $("#email").val();
        console.log(email);
        if (re.test(email)) {
            //vaild
            $("#submit").prop("disabled", false);
        }
        else {
            console.log('not valid email');
            $("#submit").attr("disabled", "disabled");
        }
        var v1 = $("#phone0").val();
        if (v1 == '') {
            $("#submit").attr("disabled", "disabled");
        }
    });
    var phonere = /^[789]\d{9}$/;
    $('#phone0').change(function (req, res) {
        var phone = $("#phone0").val();
        console.log(phone);
        if (phonere.test(phone)) {
            //vaild
            $("#submit").prop("disabled", false);
        }
        else {
            console.log('not valid email');
            $("#submit").attr("disabled", "disabled");

        }
    });
    var v1 = $("#phone0").val();
    if (v1 == '') {
        $("#submit").attr("disabled", "disabled");
    }

    $('#phone1').change(function (req, res) {
        var phone = $("#phone1").val();
        console.log(phone);
        if (phonere.test(phone)) {
            //vaild
            $("#submit").prop("disabled", false);
        }
        else {
            console.log('not valid email');
            $("#submit").attr("disabled", "disabled");
        }
        if (phone == '') {
            $("#submit").prop("disabled", false);
        }
    });
    var states = "Andaman and Nicobar Islands|Andhra Pradesh|Arunachal Pradesh|Assam|Bihar|Chandigarh|Chhattisgarh|Dadra and Nagar Haveli|Daman and Diu|Delhi|Goa|Gujarat|Haryana|Himachal Pradesh|Jammu and Kashmir|Jharkhand|Karnataka|Kerala|Lakshadweep|Madhya Pradesh|Maharashtra|Manipur|Meghalaya|Mizoram|Nagaland|Orissa|Pondicherry|Punjab|Rajasthan|Sikkim|Tamil Nadu|Tripura|Uttar Pradesh|Uttaranchal|West Bengal";

    states = states.split('|');
    for (var k = 0; k < states.length; k++) {
        console.log(states[k]);
    }

    var option = '';
    for (var f = 0; f < states.length; f++) {
        option += '<option value="' + states[f] + '">' + states[f] + '</option>';
    }
    $('#states').append(option);
</script>