<div class="container">
    <h2 class="center-align">New Seller SignUP</h2>
    <form action="/signup/seller" method="post" autocomplete="off">

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="sname"/>
                <label for="sname">Name</label>
            </div>
            <div class="input-field col s6">
                <input type="date" name="dob"/>
                <label for="dob">Date of Birth</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="email" autocomplete="off"/>
                <label for="email">Email Id</label>
            </div>
            <div class="input-field col s6">
                <input type="password" name="password" id="password"/>
                <label for="password">password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="phone[0]"/>
                <label>Phone Numbers</label>
                <!--<p id="addphone">add another number</p>-->
            </div>
            <div class="input-field col s6">
                <input type="text" name="phone[1]"/>
                <label>Alternate Phone Number</label>
            </div>
        </div>

        <h5 class="center-align">Address</h5>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name='addressSeller'/>
                <label for="addressSeller">Enter Address</label>
            </div>
        </div>

        <!--<div class="row">-->
        <!--<div class="input-field col s12">-->
        <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="input-field col s12 center-align">
                <input type="submit" class="waves-effect waves-light btn-large"/>
            </div>
        </div>

    </form>
</div>